/* ページトップへ戻るボタン */
.backpage {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  background: #fff;
  border: solid 4px #757575;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.backpage__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #757575;
  border-right: 3px solid #757575;
  transform: translateY(20%) rotate(-45deg);
}

/* pythonのスタイル */
.python {
  position: relative;
  padding: 1rem 2rem;
  font-weight: bold;
  color: block;
  border-radius: 0 10px 10px 10px;
  background: #e3f5d8;
  margin-top: 60px;
  line-height: 2;
  margin-bottom: 70px;
}

.python:before {
  font-size: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: -50px;
  left: 0;
  height: 50px;
  padding: 0 1em;
  content: "\Python";
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #22ac38;
}

/* JavaScriptのスタイル */
.JavaScript {
  position: relative;
  padding: 1rem 2rem;
  font-weight: bold;
  color: block;
  border-radius: 0 10px 10px 10px;
  background: #edfce3;
  margin-top: 60px;
  line-height: 2;
  margin-bottom: 20px;
}

.JavaScript:before {
  font-size: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: -50px;
  left: 0;
  height: 50px;
  padding: 0 1em;
  content: "\JavaScript";
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #22ac38;
}

/* 文字の色を変える */
.moji_red {
  color: #f93333;
  /* font-weight: bold; */
}

/* マーカーを引く */
.marker_yellow {
  background: linear-gradient(transparent 45%, #fcf69f 45%);
}

/* マーカーを引く */
.marker_blue {
  background: linear-gradient(transparent 45%, rgb(189, 228, 243) 45%);
}

/* ポイント説明のスタイル */
.point {
  line-height: 2;
  padding: 15px 20px;
  border: solid 5px;
  border-color: #bf783a;
  border-radius: 15px;
  margin-bottom: 70px;
  margin: 0 20px;
}

@media (max-width: 599px) {
  p {
    font-size: 14px;
  }

  div {
    font-size: 12px;
  }

  /* pythonのスタイル */
  .python {
    padding: 1rem 1rem;
  }

  .python:before {
    font-size: 20px;
    font-size: 1.2rem;
    top: -40px;
    height: 40px;
  }

  /* JavaScriptのスタイル */
  .JavaScript {
    padding: 1rem 1rem;
  }

  .JavaScript:before {
    font-size: 20px;
    font-size: 1.2rem;
    top: -40px;
    height: 40px;
  }
}
