/* ページ全体に関わるスタイル */
body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px;
  position: relative;
}

.moji {
  margin: 0 20px;
}

/* ヘッダー */
header {
  color: white;
  background-color: #bf783a;
  text-align: center;
  border-radius: 0 0 50px 50px;
  padding: 5px;
  /* background-color: rgb(63, 76, 176); */
}

/* メニュー、目次 */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*中央揃えに変更*/
  margin: 2rem 0rem;
  gap: 15px; /* 間隔を追加 */
}

nav div {
  background-color: #bf783a;
  /* background-color: rgb(86, 158, 186); */
  font-weight: bold;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-sizing: border-box;
  width: 150px; /* 幅を固定 */
  height: 55px; /* 高さを固定 */
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 縦方向に中央揃え */
  justify-content: center; /* 横方向に中央揃え */
}

nav a {
  color: white;
  text-decoration: none;
  display: block; /* クリック可能領域を広げるために追加 */
  text-align: center;
}

/* JavaScriptとPythonの比較_メニューボタン */
.compare nav div {
  background-color: #bf783a;
}

/* 各メニューのタイトル */
.title {
  /* background-color: rgb(86, 158, 186); */
  background-color: rgb(63, 76, 176);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  /* display: inline-block; inline-blockに設定して幅を自動調整 */
  /* width: auto; 幅を自動調整 */
}

/* 綺麗に改行するためのもの */
.p_indent {
  text-indent: -3em;
  padding-left: 3em;
}

/* ヘッダー部分のタイトル改行 */
.newline {
  display: inline-block;
}

h3 {
  text-align: center;
}

.font_space {
  line-height: 2;
}

/* 見出しにマーカー付ける */
.marker {
  /* background: linear-gradient(transparent 35%, #fcf69f 35%); */
  background-color: #fcf69f;
  font-size: 20px;
  font-weight: bold;
}

/* オレンジボタンの長いver */
.long_ver {
  width: 500px;
  margin: auto;
}

footer {
  position: relative;
  width: 100%;
}

/* フッター部分の波模様 */
.wave {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 129px;
}

.wave .shape-fill {
  fill: #bf783a;
}

/* 端末サイズに応じたレイアウトの変更 */
@media (min-width: 1000px) {
  nav {
    justify-content: flex-start; /* 固定幅なので中央揃え解除 */
  }
  nav div {
    flex: 0 0 auto; /* 固定幅でフレックスボックスの影響を受けないようにする */
  }
}

@media (max-width: 999px) and (min-width: 600px) {
  nav {
    justify-content: center; /* 画面サイズに応じて中央揃えに戻す */
  }
  nav div {
    flex: 0 0 calc(33.33% - 15px); /* 横3 */
  }

  nav .long_ver {
    width: 800px;
    margin: auto;
    font-size: 16px; /* フォントサイズを小さくする */
  }

  nav .long_ver a {
    white-space: nowrap; /* 改行を防ぐ */
  }
}

@media (max-width: 599px) {
  nav div {
    flex: 0 0 calc(50% - 15px); /* 横2 */
  }

  nav .long_ver {
    width: 700px;
    margin: auto;
    font-size: 14px;
  }

  nav .long_ver a {
    white-space: nowrap; /* 改行を防ぐ */
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .marker {
    font-size: 15px;
  }
}
